[submodule "results"]
	path = results
	url = https://gin.g-node.org/accurate_toucan/astrocyte-benchmark.git
	branch = main
[submodule "models"]
	path = models
	url = https://github.com/HanjiaJiang/beNNch-models.git
	branch = astrocyte
[submodule "plot"]
	path = plot
	url = https://github.com/HanjiaJiang/beNNch-plot.git
	branch = astrocyte
